<h1 class="header">Не удалось авторизовать приложение</h1>
<div class="msg-box">
    <p>Bitrix24 передал недействительный токен приложения.</p>
    <p>Закройте и заново откройте приложение из Bitrix24. Если ошибка повторится, обратитесь к администратору портала.</p>
</div>
<style>
    * {
        box-sizing: border-box;
    }

    .header {
        text-align: center;
    }

    .msg-box {
        margin-bottom: 20px;
        border-radius: 15px;
        background: #ddd;
        color: #222;
        padding: 150px 15px;
        text-align: center;
        font-size: 1.1rem;
        font-weight: lighter;
    }

    @media (max-width: 1000px) {
        .msg-box {
            padding: 60px 10px;
        }
    }
</style>
